


.block{
width: 500px;
height: 500px;
background: darkgrey;
border-color: black;
border-style: solid;
margin: 50px 50px 50px 50px;
padding:   10px 50px 50px  10px;

}
.box{ 
width: 75px;
height: 75px;
border: 1px solid #000;
background: gold;


}